body {
    position: relative;
    width: 1440px;
    height: 784px;
    margin: 0;
    font-family: 'SF Pro', sans-serif;
}
#chat-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}
#chat-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    background-color: #f2f2f7;
    padding-top: 16px;
}
.chat-entry {
    position: relative;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    transition: background-color 0.25s, color 0.25s;
}
.chat-entry:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.0625);
}
.chat-entry.active {
    background-color: #0071ee;
    color: white;
}
.user-photo {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;
}
.chat-entry .user-photo {
    top: 4px;
    left: 24px;
}
.user-photo > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
}
.chat-entry--user-name {
    position: absolute;
    top: 8px;
    left: 96px;
    width: 180px;
    height: 22px;
    overflow: hidden;
    font-weight: 600;
    line-height: 22px;
}
.chat-entry--recent-message-text {
    position: absolute;
    bottom: 8px;
    left: 96px;
    width: 240px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.chat-entry--time {
    position: absolute;
    top: 8px;
    right: 24px;
    width: 64px;
    height: 22px;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}
#chat-contents {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 360px);
    height: 100%;
    overflow: hidden;
}
#chat-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f2f2f7;
}

#chat-header .user-photo {
    width: 48px;
    height: 48px;
    left: 24px;
    top: 16px;
}

#header-partner-name {
    position: absolute;
    top: 19px;
    left: 88px;
    width: 748px;
    height: 42px;
    font-weight: 600;
    line-height: 42px;
    font-size: 18px;
    color: #1c1c1e;
    overflow: hidden;
}

#chat-log {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 72px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}
.chat-message {
    position: relative;
    max-width: 474px;
    font-family: 'SF Pro', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    padding: 8px 62px 8px 16px;
    border-radius: 12px;
    margin: 8px 16px 0 16px;
}

.chat-message-user {
    background-color: #0071ee;
    color: white;
    margin-left: auto;
}
    
.chat-message-other {
    background-color: #e5e5ea;
    color: #1c1c1e;
    margin-right: auto;
}

.chat-message > .time {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 10px;
    text-align: right;
}

.chat-message > .tail {
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 11px;
    height: 21px;
    background-size: contain;
    background-position: center;
}

.chat-message-user > .tail {
    left: auto;
    right: -4px;
    background-image: url('../img/right tail.png');
}

.chat-message-other > .tail {
    background-image: url('../img/left tail.png');
}

#chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 32px);
    padding: 0 16px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#chat-input > input {
    position: relative;
    width: 968px;
    height: 40px;
    border-radius: 100px;
    background-color: #ebedef;
    border: none;
    padding: 0 16px;
}
#chat-input > input:focus-visible {
    outline: none;
}
#chat-input > button {
    width: 32px;
    height: 32px;
    line-height: 115%;
    border-radius: 100%;
    background-color: #0071ee;
    text-align: center;
    color: white;
    opacity: 0.8;
    transition: opacity 0.25s;
    border: none;
    font-size: 23px;
    display: flex;
    justify-content: center;
}
#chat-input > button:hover {
    opacity: 1.0;
}